# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000

# Application
NEXT_PUBLIC_APP_NAME=ShefaFx
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ROOT_DOMAIN=shefafx.com
NEXT_PUBLIC_APP_SUBDOMAIN=app

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-oauth-client-id
